
@media (min-width: 375px) {
    
    
/* Header title */

h1#logo-title-header{
    padding-top: 30px;
    font-size: 33px;
}

h2#header-description-title{
    font-size: 25px;
    padding-top: 30px;
} 

/* Header Description */

.header-description{
    width: 95%;
}

p#description-game{
    text-align: center;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Header login */

h1.header-login {
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
}
/* DragonImage Component */

div.dragon-image-container {
  text-align: center;
}
img.dragon-click-image {
  width: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
img.dragon-click-image:active {
  transform: scale(0.8);
}

/* ShopUpgrade buttons default, available and sold out */


 .sold-upgrade-button{
    background: url("./images/sold.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
} 
        
.available-upgrade-button{
   
    background: url("./images/availableimage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
      
    }
    

.available-upgrade-buttondisabled{
    background: url("./images/Defaultimage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

/* Basket buttons */

.Dragon-upgrade-basket-buttondisabled{
    background: url("./images/Defaultimage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.Dragon-upgrade-basket-button{
    background: url("./images/availableimage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
    
  }
