
#logo-title{
    text-align: center;
    margin-top: 30px;
}



/* Header */

/*#logo-title{
    text-align: center;
    margin-top: 30px;
}

*/


/* login */

#loggedIn{
    text-align: right;
    
}


#login-form, #loggedIn{
    text-align: right;
    //margin-top: 30px;
}

#login-form{
    //text-align: right;
   // max-width: 350px;
    // max-height: 350px;
    //float: right;
    float: right;
    margin-right: 40px;
}

.clear{
    clear: both;
}

.container-fluid{
    
    
    
}

/* middle part */

#counter-of-clicks{
    text-align: center;
    padding: 120px;
    
    
    
}

#email, .form-control{
    //text-align: right;
}





.form{
    text-align: right;
}


#upgrade-shop{
    float: left;
}

#upgrade-level{
    float: right;
}

#default-dragon{
    
    text-align: center;
    
}

.bubble-image{
    background: url("./images/bild.jpg");
    background-size: cover;
}

/* DragonImage Component */

div.dragon-image-container {
  text-align: center;
}
img.dragon-click-image {
  width: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
img.dragon-click-image:active {
  transform: scale(0.8);
}

/* ShopUpgrade buttons default, available and sold out */


 .sold-upgrade-button{
    background: red;
    
} 
        
.available-upgrade-button{
   
       background: url("./images/bild.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
      
    }
    

.available-upgrade-buttondisabled{
    background: grey;
   
}

.col-sm-3 shop-button-container{
    
    background: blue;
    
}

