
@media (min-width: 375px) {
    
    
    /* Username Component */ 
    
/* Header login */

h1.header-login {
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 30px;
}
    
      
    /* LoginForm Component */
    
   
form{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
        
}
    
    /* Header Component */

/* Sleeping Baby Dragon logo */

#dragon-logo{
   width: 100%;
}

/* Header title */

h1#header-description-title{
    font-size: 25px;
    padding-top: 30px;
} 

/* Header Description */

.header-description{
    width: 95%;
}

p#description-game{
    text-align: center;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
    
    
    /* DragonImage Component */

div.dragon-image-container {
  text-align: center;
}
    
img.dragon-click-image {
  width: 80%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding-bottom: 20px;
  touch-action: none;
}
    
img.dragon-click-image:active {
  transform: scale(0.8);
    
}
    
    /* ShopUpgrade Component */

/* ShopUpgrade buttons default, available and sold out */


.sold-upgrade-button{
    background: url("./images/button_sold.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100px;
    padding-bottom: 50px;
} 
        
.available-upgrade-button{
    background: url("./images/button_available.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100px;
    padding-bottom: 50px;
}
    
.available-upgrade-buttondisabled{
    background: url("./images/button_default.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100px;
    padding-bottom: 50px;  
}
    
    
    /* DragonUpgrades/DragonUpgradesContainer Components */

/* image icons in the buttons */
    
img.upgrade-image{
    width: 31%;
    height: auto;
    padding: 10px;
    position: absolute;
    margin-left: 50px;
}

/* Basket buttons default, available */

.Dragon-upgrade-basket-buttondisabled{
    background: url("./images/button_default.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100px; 
}

.Dragon-upgrade-basket-button{
    background: url("./images/button_available.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100px;   
}
    
.upgrade-container.col-xs-12.col-md-6.order-md-1 {
    padding-top: 30px;
}
    
p.upgrade-description{
    padding-top: 20px;
    padding-bottom: 10px;
}
    
    /* UserStatsContainer Component */

h1.shop-header-title{
    padding-top: 30px;  
}
        
.row.multiplier-row {
    padding-top: 20px;
    padding-bottom: 40px;
}
  
p.shop-description{
    padding-top: 20px;
    padding-bottom: 10px;
}
    
    /* Footer Component */
/* Footer */

    
.footer-contact-info{
    background-color: #bd7543;
    width: 110%;
    height: auto;
    margin: 0;
    padding: 1.2em;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: 20px;
    margin-left: -15px;
    color: #362f2d;
}
    
 

} /* end media 375px mobile */



