
@media (min-width: 768px) {
    
/* Left and right big containers */ 
    
.user-stats-container.col-xs-12.col-md-6.order-md-2{
    max-height: 1100px;
}
    
.upgrade-container.col-xs-12.col-md-6.order-md-1{
    max-height: 1100px;
}
   
   /* Username Component */ 
    
/* Header login */   
    
h1.header-login {
    font-size: 40px;
}

    /* Header Component */
    
/* Header title */

h1#header-description-title{
    font-size: 40px;
} 
       
/* Header Description */
    
p#description-game{
    padding-left: 60px;
} 
       
     /* UserStatsContainer Component */   
       
.row.multiplier-row{
    height: 370px;
    justify-content: space-around;
}
       
        /* ShopUpgrade Component */
    
/* ShopUpgrade Container */
    
.shop-button-container{
    width: 100%;
}

/* ShopUpgrade buttons default, available and sold out */


.sold-upgrade-button{
    width: 100%;
    height: auto;
    text-align: left;
} 
        
.available-upgrade-button{
    width: 100%;
    height: auto;
    text-align: left;
}
    

.available-upgrade-buttondisabled{
    width: 100%;
    height: auto;
    text-align: left;
}
    
/* Title */ 
    
h1.basket-header-title{
    padding-top: 10px;
}
     
     /* DragonUpgrades/DragonUpgradesContainer Components */
    
/* image icons in the buttons */
    
img.upgrade-image{
    width: 97px;
    margin-left: 150px;
}

/* Basket buttons default, available */

.Dragon-upgrade-basket-buttondisabled{
    width: 100%;
    height: auto;    
}

.Dragon-upgrade-basket-button{
    width: 100%;
    height: auto; 
}
 
    /* Footer Component */
/* Footer */
    
.footer-contact-info{
    width: 110%;
    margin-left: -2.2em;
} 
     
    
  } /* media 768px end */  
    
    
  
     


